<!-- user_albums.html.erb -->
<% if @albums.present? %>
  <% @albums.each do |album| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <% if album.cover_image.attached? %>
          <%= image_tag url_for(album.cover_image), style: "height:80%;width:100%" %>        
        <% end %>
        <div class="card-body">
          <h5 class="card-title text-center"><%= link_to album.name, album %></h5>
          <p class="text-center"><%= album.description %></p>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>No albums found.</p>
<% end %>

